.body-activities-old {
    background: url(../images/fondo_old-activities.jpg);
    background-size: cover;
}

.header-activities-old {
    font-size: clamp(0.8rem, 2vw, 2rem);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline solid clamp(0.1rem, 0.2vw, 0.3rem);
    margin-bottom: 2rem;
}

.section-activities-old ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: clamp(1.5rem, 3vw, 5rem);
    padding-left: 0;
}

.section-activities-old ul li {
    list-style: none;
    font-size: clamp(0.8rem, 2vw, 2rem);
    display: flex;
    align-items: center;
}

.section-activities-old ul li a {
    color: black;
}

.section-activities-old {
    margin-bottom: 3rem;
}

