.body-activities {
    background: url(../images/fondo-activities.jpg);
}

.navbar-marquee {
    margin-top: 2rem;
    background-color: black;
    font-size: clamp(0.8rem, 2vw, 1.8rem);
    color: red;
}

.navbar-marquee p {
    display: inline-block;
    animation: marquee 7s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

.header-activities {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline solid 0.3rem;
}

.section-activities ul li {
    list-style: none;
    font-size: clamp(1rem, 2vw, 2rem);
    padding-bottom: 1.5rem;
    text-decoration: underline;
}

.section-activities {
    margin-bottom: 3rem;
}

