.header-history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
}

.header-history img {
    margin-bottom: 1.5rem;
    width: 50%;
}

.section-history {
    font-size: 1.5rem;
    text-align: justify;
}

.section-history-p {
    margin-bottom: 5rem;
}

@media screen and (max-width: 800px) {
    .header-history img {
        width: 50%;        
    }
}
