footer {
    margin: 7vh 0 4vh;
}

footer p {
    margin: 0;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    footer p {
        font-size: 3vw;
    }
}


 