footer {
    margin-top: 7rem;
    margin-bottom: 4rem;
}

footer p {
    margin: 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    footer p {
        font-size: 1.3rem;
    }
}
 