.navbar {
    display: flex;
    justify-content: center;
    background-color: #336699;
}

.navbar ul {
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1.5rem;
    transition: all 0.4s;
}

.navbar ul li a:hover {
    color: blue;
    background-color: aqua;
    border-radius: .3rem;
}

@media screen and (max-width: 800px) {
    .navbar ul {
        flex-direction: column;
    }
}
